:root {
  /* --body-text: clamp(0.8rem, 0.9vw, 1rem); */
  --subtitle: 0.875rem;
  --title: 2.25rem;
  /* --hero-title: clamp(2.2rem, 3vw, 3.5rem); */
  --hero-title: 3rem;
}

body {
  font-family: var(--font-poppins), sans-serif;
  font-size: var(--body-text);
}

h1 {
  font-size: 2.75rem; /* 44px */
  line-height: 3rem;
}

h2 {
  font-size: 2rem; /* 32px */
  line-height: 2.25rem; /* 36px */
}

h3 {
  font-size: 1.75rem; /* 28px */
  line-height: 2rem; /* 32px */
}

h4 {
  font-size: 1.5rem; /* 24px */
  line-height: 1.75rem; /* 28px */
}

h5 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.375rem; /* 22px */
}

h6 {
  font-size: 0.875rem; /* 32px */
  line-height: 1.375rem; /* 36px */
}

.section-title {
  font-size: var(--title);
  font-weight: 700;
  line-height: 1.3;
}

.section-subtitle {
  font-size: var(--subtitle);
  font-weight: 400;
  line-height: 1.3;
}

.holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  transform: translate3d(0em, 1.5em, 0.75em);
}

.holder:last-child {
  transform: rotateY(-90deg) rotateX(90deg) translate3d(0, 1.5em, 0.75em);
}

.holder:first-child {
  transform: rotateZ(-90deg) rotateX(-90deg) translate3d(0, 1.5em, 0.75em);
}

.holder:nth-child(1) .box {
  background-color: #34495e;
}
.holder:nth-child(1) .box:before {
  background-color: #10161c;
}
.holder:nth-child(1) .box:after {
  background-color: #22303d;
}
.holder:nth-child(2) .box {
  background-color: #00c3c0;
}
.holder:nth-child(2) .box:before {
  background-color: #005d5c;
}
.holder:nth-child(2) .box:after {
  background-color: #00908e;
}
.holder:nth-child(3) .box {
  background-color: #ff8602;
}
.holder:nth-child(3) .box:before {
  background-color: #9b5100;
}
.holder:nth-child(3) .box:after {
  background-color: #ce6b00;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5em;
  height: 1.5em;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  animation: ani-box 6s infinite;
}

.box:before,
.box:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
}
.box:before {
  left: 100%;
  bottom: 0;
  transform: rotateY(90deg);
  transform-origin: 0 50%;
}
.box:after {
  left: 0;
  bottom: 100%;
  transform: rotateX(90deg);
  transform-origin: 0 100%;
}

@keyframes ani-box {
  8.33% {
    transform: translate3d(-50%, -50%, 0) scaleZ(2);
  }
  16.7% {
    transform: translate3d(-50%, -50%, -1.5em) scaleZ(1);
  }
  25% {
    transform: translate3d(-50%, -100%, -1.5em) scaleY(2);
  }
  33.3% {
    transform: translate3d(-50%, -150%, -1.5em) scaleY(1);
  }
  41.7% {
    transform: translate3d(-100%, -150%, -1.5em) scaleX(2);
  }
  50% {
    transform: translate3d(-150%, -150%, -1.5em) scaleX(1);
  }
  58.3% {
    transform: translate3d(-150%, -150%, 0) scaleZ(2);
  }
  66.7% {
    transform: translate3d(-150%, -150%, 0) scaleZ(1);
  }
  75% {
    transform: translate3d(-150%, -100%, 0) scaleY(2);
  }
  83.3% {
    transform: translate3d(-150%, -50%, 0) scaleY(1);
  }
  91.7% {
    transform: translate3d(-100%, -50%, 0) scaleX(2);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) scaleX(1);
  }
}

.loader {
  width: 38px; /* 60% of 64px */
  height: 29px; /* 60% of 48px */
  position: relative;
  animation: split 1s ease-in infinite alternate;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  height: 29px; /* 60% of 48px */
  width: 29px; /* 60% of 48px */
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translateX(-6px); /* 60% of 10px */
  background: var(--primary-color);
  opacity: 0.75;
  backdrop-filter: blur(20px);
}

.loader::after {
  left: auto;
  right: 0;
  background: var(--secondary-color);
  transform: translateX(6px); /* 60% of 10px */
}

@keyframes split {
  0%,
  25% {
    width: 38px; /* Starting width */
  }
  100% {
    width: 89px; /* 60% of 148px, rounded from 88.8 */
  }
}

/* Reset CSS */

input:focus {
  outline: none;
}

.container-lg {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 80px 0;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

@media (max-width: 1024px) {
  .section {
    padding: 50px 0;
  }
}

.border-white-300 {
  border-color: rgba(255, 255, 255, 0.31);
}

/* Reuseable Grid */

.grid-row {
  display: grid;
}

.grid-col {
  grid-template-columns: 1fr;
}

.grid-col-1 {
  grid-template-columns: repeat(12, 1fr);
}

.grid-col-12 {
  grid-template-columns: 1fr;
}

.profile-heading {
  position: relative;
  display: inline-block;
}

/* Scrollbar */

/* Hide scrollbar by default */
.scrollbar-hidden::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Show scrollbar on hover */
.scrollbar-hover:hover::-webkit-scrollbar {
  width: 6px;
}

/* Scrollbar track and thumb styles */
.scrollbar-hover:hover::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.profile-heading:before {
  content: "";
  position: absolute;
  bottom: 10px;
  right: -24px;
  width: 12px;
  height: 4px;
  background-color: #ff8602;
  border-radius: 30px;
}

.profile-heading:after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: -80px;
  width: 46px;
  height: 4px;
  background-color: #00c3c0;
  border-radius: 30px;
}
/* Utility */

.section-heading {
  max-width: 885px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section-heading h3 {
  border-radius: 82px;
  background: var(--primary-color);
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  text-align: center;
}

.section-heading h2 {
  /* color: var(--color-black); */
  color: var(--color-text);
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.5px;
}

.section-heading p {
  color: var(--color-text);
  text-align: center;
  font-weight: 400;
  line-height: 170%;
}
/* Reusable Form */

.tla-form-control {
  border-radius: 8px;
  border: 1px solid #dce2ea;
  background: #edf0f4;
  width: 100%;
  height: 44px;
  padding: 0 16px;
  color: var(--color-black);
  font-weight: 500;
  line-height: 27px;
  font-size: 13px;
}

.tla-form-control::placeholder {
  font-size: 12px;
  font-weight: 400;
}

.tla-form-textarea {
  border-radius: 8px;
  border: 1px solid #dce2ea;
  background: #edf0f4;
  width: 100%;
  height: 141px;
  padding: 10px 16px 0;
  color: var(--color-black);
  font-weight: 500;
  line-height: 27px;
  resize: vertical;
}

/* Auth Header */

.auth_header {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #dce2ea;
  position: sticky;
  top: 0;
  z-index: 999;
}

.tla-auth-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 69px - 48px);
}

.tla-auth-wrapper {
  padding: 30px 0 20px;
  min-height: calc(100vh - 129px);
}

.tla-auth-box {
  border-radius: 1.25rem;
  border: 1px solid #dce2ea;
  opacity: 0.93;
  background-color: #fff;
  /* box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.06); */
  /* width: 100%; */
  height: 100%;
}

.tla-auth-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  height: 538px;
  border-radius: 0 14px 14px 0;
}

.tla-auth-image img {
  border-radius: 20px;
}

.tla-auth-login-text {
  font-weight: 400;
  text-align: center;
  color: #fff;
  max-width: 305px;
  margin-top: 58px;
}

.tla-auth-form-register {
  padding: 50px 30px 30px;
}

.tla-auth-form h3 {
  color: var(--color-black);
  font-weight: 700;
  letter-spacing: -0.5px;
}

.tla-auth-form p {
  color: var(--color-text);
  font-weight: 400;
  line-height: 18px;
}

.tla-auth-form h4 {
  color: var(--color-black);
  text-align: center;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.5px;
}

.tla-form-label {
  color: var(--color-black);
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 150% */
}

.popular-services h4 {
  color: var(--color-black);
  font-weight: 500;
  line-height: 27px;
}

.popular-services h5 {
  color: var(--color-text);
  font-weight: 400;
  line-height: 18px;
}

.service-box {
  border: 1px solid #dce2ea;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px 10px;
}

.service-box.selected {
  border: 1px solid var(--color-special);
  background-color: var(--color-special);
  color: var(--color-white);
}

.service-box.selected span {
  color: var(--color-white);
}

.btn-auth-login {
  /* width: 100%; */
  display: flex;
  padding: 14px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: var(--color-white);
  font-weight: 600;
  line-height: 12px;
  cursor: pointer;
}

.tla-auth-footer {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 30px;
}

.tla-auth-footer a {
  text-decoration: underline;
  color: var(--color-special);
  font-weight: 500;
}

.btn-auth-register {
  background-color: var(--color-special);
  padding: 15px 40px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  font-weight: 600;
  line-height: 12px;
  cursor: pointer;
  width: 100%;
}

.info-text {
  color: var(--color-black);
  font-weight: 400;
  line-height: 27px;
}

.company-size label {
  color: var(--color-black);
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 10px;
  display: inline-block;
}

.company-size button {
  display: flex;
  padding: 4px 20px;
  align-items: center;
  gap: 10px;
  color: var(--color-black);
  text-align: center;
  font-weight: 500;
  line-height: 27px;
  border: 1px solid var(--color-black);
  border-radius: 41px;
}

.company-size .selected {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid transparent;
}

@media (max-width: 1199px) {
  .tla-auth-form-register {
    padding: 20px 0 20px 30px;
  }
}

@media (max-width: 1024px) {
  .tla-auth-form-register {
    padding: 20px 16px;
  }
}

/* @media (max-width: 575px) {
  .tla-auth-form-register {
    padding: 20px 0;
  }
} */

/* Auth End */

.nav_link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-black);
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.btn_register {
  background-color: var(--secondary-color);
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-weight: 600;
  line-height: 12px;
}

.submenu {
  position: absolute;
  top: 30px;
  left: 0;
  background: #fff;
  padding: 0; /* Remove internal padding from wrapper */
  border: 1px solid #f3f3f3;
  width: 330px;
  max-height: 80vh;
  box-shadow: 0 6px 20px -15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 9;
}

.submenu-content {
  display: flex; /* This allows sliding panels side by side */
  width: 200%; /* two panels, each 100% */
  transition: transform 0.4s ease-in-out;
  transform: translateX(0%);
}

.submenu-content.show-services {
  transform: translateX(-50%); /* slide to second panel */
}

.submenu-categories,
.submenu-services {
  width: 50%; /* each takes half of the total width (50% of 200%) */
  padding: 20px;
  box-sizing: border-box;
}

.submenu ul li {
  padding: 6px 0;
}

.submenu ul li ul {
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.submenu ul li a {
  color: #6c7191;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  transition: all 0.3s ease;
}

.submenu ul li a:hover {
  color: var(--color-black);
  transition: all 0.3s ease;
}
.submenu ul li a:hover span {
  text-decoration: underline;
  transition: all 0.3s ease;
}

@media (max-width: 767px) {
  .submenu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh;
    height: 100%;
  }
}

/* HeroHome */

.hero-home {
  /* padding: 50px 0; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 886px;
  margin: 0 auto;
  gap: 20px;
}

.hero-content h1 {
  color: var(--color-text);
  font-size: var(--hero-title);
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 72.6px */
  letter-spacing: -0.5px;
}

.tla-btn-search {
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--color-white);
  display: flex;
  padding: 8px 20px;
  width: 100%;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  line-height: 27px;
}

.suggestion-area h6 {
  color: var(--color-text);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

/* Hero Showcase */

.hero-showcase {
  padding: 76px 0 0;
}

.showcase-img {
  border-radius: 14px;
}

.showcase-gradient-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 637px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 17.74%,
    #fff 85.19%
  );
}

/*===================================
 Home About
 ====================================*/

/* .home-about-preview{
  padding: 50px 0;
} */

/*===================================
 Home Services
 ====================================*/

/* .home-services {
  padding: 50px 0;
} */

/*===============================
Home Features
=================================*/
/* .home-features {
  padding: 50px 0 0;
} */
.home-features-grid {
  padding: 80px;
  border-radius: 80px 80px 0px 0px;
  border: 1px solid #dce2ea;
  background: linear-gradient(180deg, #edf0f4 0%, rgba(255, 255, 255, 0) 100%);
}

.feature-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.feature-heading h3 {
  border-radius: 82px;
  background: var(--primary-color);
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  text-align: center;
}

.feature-heading h2 {
  color: var(--color-black);
  letter-spacing: -0.5px;
}

.feature-heading .feature-heading-text {
  color: var(--color-black);
  font-weight: 400;
  line-height: 170%;
}

.feature-heading .feature-heading-text ul {
  margin-top: 20px;
  padding-left: 20px;
}

.feature-heading .feature-heading-text ul li {
  list-style-type: disc;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .home-features-grid {
    padding: 30px 0;
    border-radius: 40px 40px 0 0;
  }
}

/*===============================
Home Testimonials
=================================*/

.home-testimonials {
  padding: 150px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home-testimonials .feature-heading h2 {
  color: #fff;
}

.home-testimonials .feature-heading-text {
  color: #fff;
}

@media (max-width: 1024px) {
  .home-testimonials {
    padding: 50px 0;
  }
}

/* ===========================
      Home CTA
==============================*/

/* .home-cta {
  padding: 50px 0;
} */

.home-cta-content {
  border-radius: 26px;
  border: 1px solid var(--primary-color);
  background: #edf0f4;
  overflow: hidden;
}

.home-cta-text {
  padding: 30px 0 30px 60px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-cta-text h2 {
  color: var(--color-black);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.428px;
}

.home-cta-text .cta-text {
  color: var(--color-text);
  font-weight: 400;
  line-height: 170%;
}

.home-cta-text .cta-text ul {
  padding-left: 20px;
  list-style: disc;
}

.home-cta-text .cta-text ul li {
  margin-bottom: 10px;
}

.home-cta-images {
  position: relative;
  padding-top: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.cta-shape {
  max-width: 340px;
  width: 100%;
  max-height: 319px;
  height: 100%;
  border-radius: 340px;
  background: linear-gradient(270deg, #ff8602 0%, #01c3c0 100%);
  filter: blur(119px);
}

.home-cta-images .cta-img-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 24px 0 24px 0;
  max-width: 32rem;
  height: 310px;
  width: 100%;
  object-fit: cover;
}

.home-cta-images .cta-img-1 {
  position: absolute;
  bottom: 0;
  right: 420px;
  z-index: 9;
  max-width: 20.5rem;
  width: 100%;
}

@media (max-width: 1400px) {
  .home-cta-images {
    padding-top: 0;
  }

  .cta-shape {
    display: none;
  }
  .home-cta-images .cta-img-1 {
    display: none;
  }
  .home-cta-images .cta-img-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1024px) {
  .home-cta {
    padding: 50px 0;
  }
  .home-cta-text {
    padding: 30px 20px 30px 20px;
  }
}

/* ====================
      About Page
======================*/

/* .about-section {
  padding: 50px 0;
} */

.feature-item {
  border-radius: 16px;
  border: 1px solid #dce2ea;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-item h4 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 20.548px;
}

.feature-text {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}

@media (max-width: 1024px) {
  /* .about-section {
    padding: 50px 0;
  } */
  .about-showcase {
    padding: 30px 0;
  }
}

/* Faq section */

.tla-faq-accordion {
  max-width: 1004px;
  margin: 0 auto;
  margin-top: 20px;
}

.tla-faq-accordion-item:not(:last-child) {
  margin-bottom: 8px;
}

.tla-faq-accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
  border-radius: 12px;
  border: 1px solid var(--squad-deck-color-surface-light-normal-active, #ebeef2);
  background: var(--SquadDeck-Color-Surface_Light-Light, #fcfdfd);
  cursor: pointer;
}

.tla-faq-accordion-header h5 {
  color: var(--color-black);
  font-weight: 500;
}

.tla-faq-accordion-body {
  /* background: #fcfdfd; */
  padding: 16px 20px 8px;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.tla-faq-accordion-body.active {
  max-height: 1000px !important;
  display: block;
}

.tla-faq-accordion-header svg {
  transition: transform 0.3s ease;
}

.tla-faq-accordion-header svg.rotate {
  transform: rotate(45deg);
}
.tla-faq-accordion-header svg.rotate path {
  fill: red;
}

@media (max-width: 1024px) {
  .tla-faq {
    padding: 50px 0;
  }
}

/* ====================
      Working Steps
======================*/
.working-steps {
  padding: 100px 0 100px;
  border-radius: 80px 80px 0px 0px;
  /* border: 1px solid #dce2ea;
  border-bottom: none; */
  background: linear-gradient(180deg, #edf0f4 0%, rgba(255, 255, 255, 0) 100%);
  /* margin: 0 60px; */
}

.working-step-item {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #dce2ea;
  background: #fff;
}

.working-step-number {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  background: var(--primary-color);
  color: var(--color-white);
  border-radius: 50%;
  margin-bottom: 15px;
}

.working-step-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.working-step-content h3 {
  color: #0b1c2d;
  text-align: justify;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.working-steps-paragraph {
  color: #34495e;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 170%;
}

@media (max-width: 1024px) {
  .working-steps {
    margin: 0;
    padding: 50px 0 30px;
  }
}

/* ====================
      Contact Page
======================*/

.contact-image img {
  width: 100%;
  border-radius: 12px;
}

.contact-form-heading h2 {
  color: var(--color-black);
  font-size: var(--title);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.5px;
  margin-bottom: 12px;
}

.contact-text {
  color: var(--color-text);
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

.contact-form-heading {
  margin-bottom: 15px;
}

.contact-info .address,
.contact-info a {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.pricing-banner-content h1 {
  position: relative;
  font-weight: 700;
}

.pricing-banner-content h1:before {
  content: "";
  position: absolute;
  top: 30px;
  right: -18px;
  width: 11px;
  height: 5px;
  background-color: var(--color-white);
  border-radius: 10px;
}

.pricing-banner-content h1:after {
  content: "";
  position: absolute;
  top: 30px;
  right: -70px;
  width: 45px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.pricing-banner-content img {
  border-radius: 0 30px 30px 0;
}

.title-pricing {
  position: relative;
}

.title-pricing::after {
  content: "";
  position: absolute;
  top: 30px;
  right: -70px;
  width: 45px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.title-pricing::before {
  content: "";
  position: absolute;
  top: 30px;
  right: -18px;
  width: 11px;
  height: 5px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.line-sm {
  display: inline-block;
  width: 11px;
  height: 5px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.line-lg {
  display: inline-block;
  width: 45px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

/* ===================
      Footer
======================*/

.newsletter-signup p:after {
  content: "";
  position: absolute;
  bottom: 12px;
  right: -98px;
  background-color: #fff;
  max-width: 161px;
  width: 100%;
  height: 1px;
}

@media (max-width: 1024px) {
  .newsletter-signup p:after {
    display: none;
  }
}

.main-footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
}

.footer-top {
  display: flex;
  width: 100%;
  padding: 15px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.footer-top p {
  color: var(--color-black);
  font-weight: 500;
  line-height: 24px; /* 114.286% */
}

.btn-pricing {
  border-radius: 4px;
  background: var(--brand-surface-2-text-on-dark, #fff);
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-middle {
  padding: 30px 0;
}

.footer-middle-widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-info {
  max-width: 450px;
}

.footer-text {
  color: var(--Brand-Secondary-Text, #34495e);
  font-weight: 400;
  line-height: 170%;
}

/* .footer-widget {
  width: calc(20% - 10px);
} */

.footer-widget h5,
.footer-contact h5 {
  color: var(--color-black);
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  margin-bottom: 16px;
}

.footer-widget ul li:not(:last-child),
.footer-contact ul li:not(:last-child) {
  margin-bottom: 8px;
}

.footer-widget ul li a,
.footer-contact ul li a {
  color: var(--Brand-Secondary-Text, #34495e);
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  transition: all 0.3s ease;
}

.footer-widget ul li a:hover,
.footer-contact ul li a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.footer-contact .icon {
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-bottom {
  padding: 10px 0;
  border-top: 1px solid var(--brand-surface-4-stroke, #dce2ea);
}

.footer-copyright p {
  color: var(--Brand-Secondary-Text, #34495e);
  font-weight: 400;
  line-height: 170%;
}

@media (max-width: 991px) {
  .footer-info {
    max-width: 100%;
  }
}

.page-content p {
  margin-bottom: 15px;
}

.page-content ol {
  margin-bottom: 10px;
  padding-left: 20px;
  list-style-type: decimal;
}

.page-content ul {
  margin-bottom: 10px;
  padding-left: 20px;
  list-style-type: disc;
}

.page-content ol li {
  margin-bottom: 10px;
}

.page-content ul li {
  margin-bottom: 5px;
}

.page-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.page-heading h3 {
  border-radius: 82px;
  background: var(--primary-color);
  display: inline-flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  text-align: center;
}

.page-heading h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.page-heading-text {
  color: #fff;
}

/* Google map api css */

.pac-container {
  z-index: 2147483647 !important; /* ensure above modal */
}

.pac-item {
  cursor: pointer !important; /* force pointer */
}

.modal-wrapper {
  overflow: visible !important; /* allow dropdown to escape modal clipping */
  transform: none !important; /* avoid stacking context issues */
}

.google-places-autocomplete .pac-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 518px;
  z-index: 9999;
  /* display: none; */
}
